@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>
<hr />

<div class="row">
    <div class="col-md-6">

        <div class="panel panel-success">

            <div class="panel-heading">
                <h4 class="panel-title">
                    Create New Employee
                </h4>
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">

                        <div class="form-horizontal">

                            <div class="form-group">
                                <label for="name" class="control-label col-md-2">Name</label>
                                <div class="col-md-10">
                                    @Html.TextBox("name", "", new { @class = "form-control", placeholder = "Name" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="surname" class="control-label col-md-2">Surname</label>
                                <div class="col-md-10">
                                    @Html.TextBox("surname", "", new { @class = "form-control", placeholder = "Surname" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="gender" class="control-label col-md-2">Gender</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("gender",
                                        new SelectListItem[]
                                        {
                                            new SelectListItem() { Text="Male", Value="male" },
                                            new SelectListItem() { Text="Female", Value="female" }
                                        }
                                   , "Gender", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="salary" class="control-label col-md-2">Salary</label>
                                <div class="col-md-10">
                                    @Html.TextBox("salary", "", new { @class = "form-control", placeholder = "Salary", type = "number" })
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>

            <div class="panel-footer">
                <button id="btnCreate" type="button" class="btn btn-success">Create</button>
            </div>

        </div>

    </div>
    <div class="col-md-6">

        <ul id="employees" class="list-group"></ul>

    </div>
</div>

<script>

    function LoadEmployees() {

        var ul = $("#employees");
        ul.empty();

        $.ajax({
            method: "GET",
            url: "../api/employee"
        }).done(function (response) {
            //console.log(response);

            if (response == null)
                return;

            for (var i = 0; i < response.length; i++) {
                var emp = response[i];
                var li = $("<li class='list-group-item'>" + emp.Name + " " + emp.Surname +
                    "(Gender : " + emp.Gender + " - Salary : " + emp.Salary + "$)</li>")

                ul.append(li);
            }

        }).fail(function () {
            alert("Hata oluştu.")
        });
    }

    function CreateEmployee() {

        var name = $("#name").val();
        var surname = $("#surname").val();
        var gender = $("#gender").val();
        var salary = $("#salary").val();

        var emp = {
            "name": name,
            "surname": surname,
            "gender": gender,
            "salary": salary
        };

        $.ajax({
            method: "POST",
            url: "../api/employee",
            type: "json",
            data: emp
        }).done(function (response, statusText, jqXHR) {

            console.log(response);
            console.log(statusText);
            console.log(jqXHR);
            
            if(jqXHR.status == 201)
            {
                LoadEmployees();
            }

            console.log("status : " + jqXHR.status);
            console.log("statusText : " + jqXHR.statusText);
            console.log("location : " + jqXHR.getResponseHeader("location"));


        }).fail(function () {
            alert("Hata oluştu.");
        });

    }


    $(function () {

        LoadEmployees();

        $("#btnCreate").click(CreateEmployee);

    });

</script>